name: Build

on:
    workflow_dispatch:
      inputs:
        debug_enabled:
          description: 'To run with tmate enter "debug_enabled"'
          required: false
          default: "false"
    push:
      branches:
        - main


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
          check-latest: true
          cache: true
          cache-dependency-path: go.sum

      - name: Restore
        run: make restore

      - name: Build
        run: make

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
          check-latest: true
          cache: true
          cache-dependency-path: go.sum
          
      - name: Restore
        run: make restore
        
      - name: Test
        run: make test
        
      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
